<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.castlabs.mediaplayertest.tinysdk" >
    <!--
      Important: ExoPlayerLib specifies a minSdkVersion of 9 because various components provided by
      the library may be of use on older devices. However, please note that the core video playback
      functionality provided by the library requires API level 16 or greater.
    -->
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23" />

    <!-- For streaming media over the network. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- For reading media from external storage. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- For writing media to external storage. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
