<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.castlabs.appdemo.appDemo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/PlayerTheme" >

        <activity
            android:name="com.castlabs.appdemo.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.castlabs.appdemo.ChooserActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name">
        </activity>

        <activity android:name="com.castlabs.appdemo.PlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:label="@string/app_name"
            android:theme="@style/PlayerTheme">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="content"/>
                <data android:scheme="asset"/>
                <data android:scheme="file"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
